.post{
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
}

.postWrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postCenter{
    margin-top: 20px;
    margin-bottom: 10px;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postHr{
    margin-bottom: 10px;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 3px;
    cursor: pointer;
}

.likeSperator{
    border-left: 1px solid lightgray;
    height: 15px;
    margin-right: 3px;
}

.postLikeCounter{
    font-size: 15px;
    /* color: gray; */
    margin-left: 10px;
}

.postCommentText{
    font-size: 15px;
    /* color: gray; */
    border-bottom: 1px dashed gray;
}